body {
  background-color: whitesmoke;
}

header {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(247, 34, 165, 0.79), rgba(74, 244, 253, 0.6));
  color: white;
  padding: 1em;
  display: flex;
  gap: 6cm;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  border-right: 5px solid rgba(74, 244, 250, 0.7);
  border-bottom: 5px solid rgba(74, 244, 250, 0.7);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
}

header img {
  border-radius: 10px;
  width: 5cm;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
}

header nav ul li {
  text-decoration: none;
  background: linear-gradient(45deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 1em;
  width: 3cm;
  animation: background-color 10s ease-in-out infinite;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

@keyframes background-color {
  0% {
    background-position: 45deg;
  }
  50% {
    background-position: 90deg;
  }
  100% {
    background-position: 180deg;
  }
}

@media screen and (max-width: 600px) {
  header nav ul li {
    display: none;
  }
}

header nav #donate-btn {
  background: linear-gradient(45deg, #55ffff, rgba(59, 247, 34, 0.79));
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  float: right;
  border-style: none;
  border-radius: 10px;
  color: gold;
  width: 8cm;
  margin-top: 1em;
  cursor: pointer;
  animation: button-background 1s linear infinite;
}

@keyframes button-background {
  0% {
    background: linear-gradient(45deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  25% {
    background: linear-gradient(135deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  50% {
    background: linear-gradient(225deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  75% {
    background: linear-gradient(315deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  100% {
    background: linear-gradient(360deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
}

main {
  margin-top: 4cm;
  padding: 15px;
}

main .intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main .intro video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

main .intro .conts h1 {
  background: linear-gradient(to bottom, #1121fd, #fd04b3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 60px;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
}

main .intro .conts h1 #wlc {
  text-shadow: 10px 10px 10px rgba(84, 151, 252, 0.5);
  font-size: larger;
}

main .intro .conts h1 #tagline {
  color: lime;
  font-style: italic;
  text-decoration: wavy;
  font-weight: 500;
}

main .intro .conts p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  text-shadow: 2px 2px 2px #0408fd;
  color: #ff078f;
  letter-spacing: 2px;
}

main .intro .conts button {
  margin-left: 3cm;
}

main .intro .conts #learn-more-btn {
  background: linear-gradient(45deg, #1121fd, #fd04b3);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  border-style: none;
  border-radius: 15px;
  color: gold;
  cursor: pointer;
  margin-top: 1em;
  -webkit-background-clip: text;
  color: transparent;
}

main .intro .conts #donate-btn {
  background: linear-gradient(45deg, #55ffff, rgba(59, 247, 34, 0.79));
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  border-style: none;
  border-radius: 15px;
  padding: 0.5em 1em 0.5em 1em;
  color: gold;
  cursor: pointer;
  margin-top: 1em;
}

main .contents {
  position: relative;
}

main .contents .slide-images {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

main .contents .slides {
  display: flex;
  width: 100%;
  /* Adjust based on the number of images */
  transition: transform 5s ease-in-out;
  animation: slide 30s ease-in-out infinite;
}

main .contents .slide {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

main .contents .slide img {
  width: 100%;
  height: 250%;
  object-fit: cover;
}

@keyframes slide {
  0%, 10% {
    transform: translateX(0);
  }
  20%, 30% {
    transform: translateX(-100%);
  }
  40%, 50% {
    transform: translateX(-200%);
  }
  60%, 70% {
    transform: translateX(-300%);
  }
  80%, 90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

main .contents .individual-contents {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 7em;
}

main .contents .individual-contents .ind-contents {
  background: rgba(128, 128, 128, 0.7);
  width: 15cm;
  padding: 1em 3em 3em 3em;
  border-radius: 10px;
}

footer {
  background: linear-gradient(to bottom, #e6e4e5, rgba(122, 122, 122, 0.514)), url("images/ytharmXrivaview.jpg") no-repeat;
  background-size: cover;
  padding: 2em 7em 2em 7em;
  border-radius: 100px 100px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer .footer-contents {
  display: flex;
  justify-content: space-between;
}

footer .links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .links a {
  color: magenta;
  text-decoration: none;
}

footer .contact-infos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .contact-infos a {
  color: magenta;
  text-decoration: none;
}

footer .volunts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 3em;
  margin-right: 10em;
  margin-left: -10em;
}

footer .volunts a {
  color: gold;
  text-decoration: none;
}

footer .volunts #involvement {
  background: rgba(225, 225, 225, 0.5);
  font-size: 3em;
  font-weight: 300;
  border: solid;
}

footer .volunts #donation {
  background: rgba(225, 225, 225, 0.5);
  font-size: 3em;
  font-weight: 300;
  border: solid;
}

footer .copyright {
  text-align: center;
}
