body {
  background-color: whitesmoke;
  background-size: cover;
}

header {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(247, 34, 165, 0.79), rgba(74, 244, 253, 0.6));
  color: white;
  padding: 1em 3em 2em 1.5em;
  display: flex;
  gap: 6cm;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0em 0em 1em 0em;
  border-right: 1px solid rgba(74, 244, 250, 0.7);
  border-bottom: 5px solid rgba(74, 244, 250, 0.7);
  position: fixed;
  top: 0;
  z-index: 999;
}

header img {
  border-radius: 10px;
  width: 5cm;
}

header nav {
  float: right;
  margin: 0em 0em 0em -4em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
}

header nav ul li {
  text-decoration: none;
  background: linear-gradient(45deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 1em;
  width: 3cm;
}

header nav ul li:hover {
  box-shadow: 2px 2px 4px rgba(3, 50, 207, 0.575);
  animation: nav-background-color 1s ease-in-out infinite;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

@keyframes nav-background-color {
  0% {
    background: linear-gradient(45deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  12.5% {
    background: linear-gradient(90deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  25% {
    background: linear-gradient(135deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  37.5% {
    background: linear-gradient(180deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  50% {
    background: linear-gradient(225deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  62.5% {
    background: linear-gradient(270deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  75% {
    background: linear-gradient(315deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
  100% {
    background: linear-gradient(3600deg, rgba(25, 125, 155, 0.7), rgba(225, 225, 255, 0.6));
  }
}

@media screen and (max-width: 600px) {
  header nav ul li {
    display: none;
  }
}

header nav ul #close-nav-btn {
  display: none;
}

header nav .nav-btn {
  display: none;
}

header nav #donate-btn {
  background: linear-gradient(45deg, #55ffff, rgba(59, 247, 34, 0.79));
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  float: right;
  border-style: none;
  border-radius: 10px;
  color: gold;
  width: 8cm;
  margin-top: 1em;
  cursor: pointer;
}

header nav #donate-btn:hover {
  box-shadow: 3px 3px 5px rgba(232, 243, 252, 0.747);
  animation: button-background 1s ease-in-out infinite;
}

@keyframes button-background {
  0% {
    background: linear-gradient(45deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  25% {
    background: linear-gradient(135deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  50% {
    background: linear-gradient(225deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  75% {
    background: linear-gradient(315deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
  100% {
    background: linear-gradient(360deg, rgba(49, 132, 241, 0.658), rgba(247, 34, 165, 0.79));
  }
}

main {
  margin-top: 4cm;
  padding: 15px;
}

main .intro {
  position: relative;
  width: 100%;
  height: 100vh;
}

main .intro video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

main .intro .conts h1 {
  background: linear-gradient(to bottom, #1121fd, #fd04b3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 60px;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
}

main .intro .conts h1 #wlc {
  text-shadow: 10px 10px 10px rgba(84, 151, 252, 0.5);
  font-size: larger;
}

main .intro .conts h1 #tagline {
  color: lime;
  font-style: italic;
  text-decoration: wavy;
  font-weight: 500;
}

main .intro .conts p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: left;
  text-shadow: 2px 2px 2px #0408fd;
  color: #ff078f;
  letter-spacing: 2px;
}

main .intro .conts a {
  margin-left: 3cm;
}

main .intro .conts #learn-more-btn {
  background: linear-gradient(45deg, #1121fd, #fd04b3);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  border-top-color: #073ffa;
  border-left-color: #073ffa;
  border-bottom-color: #fa07da;
  border-right-color: #e607fa;
  color: gold;
  cursor: pointer;
  margin-top: 1em;
  -webkit-background-clip: text;
  color: transparent;
}

main .intro .conts #learn-more-btn:hover {
  box-shadow: 4px 4px 6px rgba(232, 243, 252, 0.747);
  border: 4px dotted;
  border-left-color: #e607fa;
  border-top-color: #fa07da;
  border-bottom-color: #073ffa;
  border-right-color: #073ffa;
}

main .intro .conts #donate-bttn {
  background: linear-gradient(45deg, #55ffff, rgba(59, 247, 34, 0.79));
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  border-style: none;
  border-radius: 15px;
  padding: 0.5em 1em 0.5em 1em;
  color: gold;
  cursor: pointer;
  margin-top: 1em;
}

main .intro .conts #donate-bttn:hover {
  box-shadow: 3px 3px 5px rgba(232, 243, 252, 0.747);
  animation: button-background 1s ease-in-out infinite;
}

main .contents {
  position: relative;
  padding-top: 0.5em;
  margin-top: 2em;
}

main .contents .slide-images {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 110%;
  overflow: hidden;
  z-index: -1;
}

main .contents .slides {
  display: flex;
  width: 100%;
  /* Adjust based on the number of images */
  transition: transform 5s ease-in-out;
  animation: slide 30s ease-in-out infinite;
}

main .contents .slide {
  width: 100%;
  height: 110vh;
  flex-shrink: 0;
}

main .contents .slide img {
  width: 100%;
  height: 250%;
  object-fit: cover;
}

@keyframes slide {
  0%, 10% {
    transform: translateX(0);
  }
  20%, 30% {
    transform: translateX(-100%);
  }
  40%, 50% {
    transform: translateX(-200%);
  }
  60%, 70% {
    transform: translateX(-300%);
  }
  80%, 90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

main .contents .individual-contents {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 7em;
}

main .contents .individual-contents .ind-contents {
  box-shadow: 3px 3px 4px whitesmoke;
  background: rgba(228, 226, 226, 0.438);
  width: 15cm;
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
  overflow-y: hidden;
}

main .contents .individual-contents .ind-contents a {
  text-align: center;
}

main .contents .individual-contents .ind-contents a h2 {
  padding: 0.5em 1em 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: 10px;
}

main .contents .individual-contents .ind-contents a h2:hover {
  background: rgba(255, 192, 203, 0.507);
  box-shadow: 3px 3px 5px rgba(4, 8, 253, 0.562);
}

footer {
  background: linear-gradient(to bottom, #e6e4e5, rgba(122, 122, 122, 0.514)), url("images/ytharmXrivaview.jpg") no-repeat;
  background-size: cover;
  padding: 2em 7em 2em 7em;
  border-radius: 100px 100px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer .footer-contents {
  display: flex;
  justify-content: space-between;
}

footer .links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .links h3 {
  border: 3px solid magenta;
  border-right: none;
  border-bottom: none;
  text-decoration: double;
  width: 5cm;
}

footer .links a {
  color: magenta;
  text-decoration: none;
}

footer .links a:hover {
  text-decoration: overline;
  box-shadow: -2px 3px 1px white;
}

footer .links .fab {
  color: magenta;
  text-decoration: none;
  font-size: 5em;
  margin-left: 1em;
}

footer .contact-infos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .contact-infos h3 {
  border: 3px solid magenta;
  border-right: none;
  border-bottom: none;
  text-decoration: double;
  width: 5cm;
}

footer .contact-infos a {
  color: magenta;
  text-decoration: none;
  width: 5cm;
}

footer .contact-infos a:hover {
  text-decoration: overline;
  box-shadow: -2px 3px 1px white;
}

footer .volunts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 3em;
  margin-right: 10em;
  margin-left: -10em;
}

footer .volunts a {
  color: gold;
  text-decoration: none;
}

footer .volunts #involvement {
  background: rgba(225, 225, 225, 0.5);
  font-size: 3em;
  font-weight: 300;
  border: solid #09ff00;
  border-radius: 20px;
  width: 7cm;
}

footer .volunts #involvement:hover {
  background: linear-gradient(rgba(202, 1, 252, 0.356), rgba(103, 181, 255, 0.349));
}

footer .volunts #donation {
  background: rgba(225, 225, 225, 0.5);
  font-size: 3em;
  font-weight: 300;
  border: solid #18fd03;
  border-radius: 20px;
}

footer .volunts #donation:hover {
  background: linear-gradient(rgba(202, 1, 252, 0.356), rgba(103, 181, 255, 0.349));
}

footer .copyright {
  text-align: center;
}

/* Large desktop screens */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 20px;
    background-size: cover;
  }
  header {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 95%;
    position: relative;
  }
  header img {
    width: 15cm;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 8px rgba(255, 255, 255, 0.719);
  }
  header nav {
    margin-left: 1em;
  }
  header nav ul {
    gap: 1em;
  }
  header nav ul li {
    font-size: 32px;
    width: 4.4cm;
    padding-top: 0.2em;
    padding-bottom: .2em;
  }
  header nav #donate-btn {
    font-size: 35px;
    width: 7cm;
    margin-top: 1.2em;
    margin-right: 5em;
    padding-top: 0.5em;
    padding-bottom: .5em;
    box-shadow: 4px 4px 4px 6px #fd04b3;
  }
  main {
    margin-top: -1cm;
    padding: 25px;
  }
  main .intro {
    height: 110%;
    padding: 1em;
  }
  main .intro video {
    height: 110%;
  }
  main .intro .conts h1 {
    font-size: 70px;
  }
  main .intro .conts p {
    font-size: 28px;
    margin-top: 3cm;
  }
  main .intro .conts a {
    margin-left: 2.5cm;
  }
  main .intro .conts #learn-more-btn {
    font-size: 28px;
  }
  main .intro .conts #donate-bttn {
    font-size: 28px;
  }
  main .contents {
    height: inherit;
    margin: 4em 0em 0em 0em;
  }
  main .contents .slide-images {
    height: 130vh;
  }
  main .contents .slides .slide {
    height: 130vh;
  }
  main .contents .slides .slide img {
    height: 100%;
  }
  main .contents .individual-contents {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
    justify-content: center;
    padding: 1em;
  }
  main .contents .individual-contents .ind-contents {
    overflow: hidden;
    background: linear-gradient(135deg, white, rgba(7, 7, 7, 0.479));
    width: 7cm;
    height: 5cm;
    padding: 1em 2em 2em 2em;
    box-shadow: 4px 4px 4px 7px white;
  }
  main .contents .individual-contents .ind-contents:hover {
    overflow: visible;
    height: fit-content;
    position: absolute;
    z-index: 1000;
  }
  main .contents .individual-contents .ind-contents a {
    text-decoration: none;
    font-size: 1rem;
  }
  footer {
    padding: 2em 5em 2em 5em;
  }
  footer .footer-contents {
    flex-direction: row;
  }
  footer .links {
    gap: 1.5em;
  }
  footer .links a {
    font-size: 20px;
  }
  footer .links i {
    font-size: 9em;
  }
  footer .contact-infos {
    gap: 1.5em;
    margin-left: 3em;
  }
  footer .contact-infos a {
    font-size: 20px;
  }
  footer .volunts {
    gap: 1.5em;
  }
  footer .volunts a {
    font-size: 20px;
  }
  footer .volunts #involvement {
    font-size: 3em;
  }
  footer .volunts #donation {
    font-size: 3em;
  }
  footer .copyright {
    font-size: 18px;
  }
}

/* Medium desktop screens */
@media only screen and (max-width: 992px) {
  body {
    font-size: 18px;
  }
  header {
    padding: 1.5em;
    gap: 4em;
    width: 100%;
  }
  header img {
    width: 4cm;
  }
  header nav ul {
    background: rgba(255, 255, 255, 0.719);
    padding: 1em 0.5em 1em 0.5em;
    margin: -3em 0em 0em 1em;
    gap: 1em;
    border-radius: 20px;
  }
  header nav ul li {
    font-size: 20px;
    width: 3cm;
    padding: 0.5rem 0.5em 0.5rem 0.5em;
  }
  header nav #donate-btn {
    font-size: 25px;
    width: 6cm;
    margin-top: 1em;
  }
  main {
    width: 100%;
    margin-top: -1cm;
  }
  main .intro {
    height: 100%;
    width: 100%;
  }
  main .intro video {
    height: 100vh;
    width: 100%;
  }
  main .intro .conts h1 {
    font-size: 40px;
  }
  main .intro .conts p {
    font-size: 24px;
  }
  main .intro .conts a {
    margin-left: 2cm;
  }
  main .intro .conts #learn-more-btn {
    font-size: 24px;
  }
  main .intro .conts #donate-bttn {
    font-size: 24px;
  }
  main .contents {
    width: 100%;
    margin-top: 2cm;
  }
  main .contents .slide-images {
    height: 125vh;
    width: 100%;
  }
  main .contents .slides {
    width: 100%;
  }
  main .contents .slides .slide {
    height: 125vh;
    width: 100%;
  }
  main .contents .slides .slide img {
    height: 100%;
    width: 100%;
  }
  main .contents .individual-contents {
    margin-top: 0.5em;
    margin-left: 2em;
  }
  main .contents .individual-contents .ind-contents {
    width: 6cm;
    height: 4cm;
    margin-top: 1em;
    padding: 1em 1.5em 1.5em 1.5em;
  }
  main .contents .individual-contents .ind-contents:hover p {
    overflow: visible;
  }
  main .contents .individual-contents .ind-contents a p {
    text-decoration: none;
  }
  footer {
    width: 92%;
    padding: 1.5em 4em 1.5em 4em;
  }
  footer .footer-contents {
    flex-direction: row;
  }
  footer .links {
    gap: 1em;
  }
  footer .links a {
    font-size: 18px;
  }
  footer .links i {
    font-size: 3.5em;
  }
  footer .contact-infos {
    gap: 1em;
  }
  footer .contact-infos a {
    font-size: 18px;
  }
  footer .volunts {
    gap: 1em;
    margin-right: 2em;
  }
  footer .volunts a {
    font-size: 18px;
  }
  footer .volunts #involvement {
    font-size: 2.5em;
  }
  footer .volunts #donation {
    font-size: 2.5em;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* Tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  header {
    padding: 1em;
    gap: 3em;
    width: 100%;
  }
  header img {
    width: 7cm;
  }
  header nav ul {
    gap: 0.5em;
    background: rgba(245, 245, 245, 0.623);
    padding: 1em 0.5em 1em 0.5em;
    margin: 0rem 0em 0em 1rem;
  }
  header nav ul li {
    font-size: 18px;
    width: 2.5cm;
    padding: 0.3rem 0.5em 0.5rem 0.5em;
  }
  header nav #donate-btn {
    font-size: 22px;
    width: 5cm;
    margin-top: 0.7em;
  }
  main {
    width: 100%;
    margin-top: -2em;
    padding: 15px;
  }
  main .intro video {
    height: 100vh;
  }
  main .intro .conts h1 {
    font-size: 36px;
  }
  main .intro .conts p {
    margin-left: 1em;
    font-size: 24px;
  }
  main .intro .conts a {
    margin-left: 1.5cm;
  }
  main .intro .conts #learn-more-btn {
    font-size: 24px;
  }
  main .intro .conts #donate-bttn {
    font-size: 24px;
  }
  main .contents {
    margin-top: 1cm;
  }
  main .contents .slide-images {
    height: 120vh;
    width: 100%;
  }
  main .contents .slides .slide {
    height: 120vh;
  }
  main .contents .slides .slide img {
    height: 100%;
  }
  main .contents .individual-contents {
    margin-top: -3em;
    margin-left: 1em;
    padding-top: 5em;
  }
  main .contents .individual-contents .ind-contents {
    width: 5cm;
    padding: 0.7em 2em 1.5em 0em;
    margin-top: 0.5rem;
    box-shadow: 3px 3px 5px rgba(238, 44, 238, 0.74);
  }
  main .contents .individual-contents .ind-contents p {
    display: none;
  }
  footer {
    width: 88%;
    background-size: cover;
    padding: 1.5em 4em 1.5em 4em;
  }
  footer .footer-contents {
    flex-direction: row;
    gap: 1em;
  }
  footer .links {
    gap: 1em;
  }
  footer .links a {
    font-size: 18px;
  }
  footer .links i {
    font-size: 3.5em;
  }
  footer .contact-infos {
    gap: 1em;
  }
  footer .contact-infos a {
    font-size: 18px;
  }
  footer .volunts {
    gap: 1em;
    margin-left: 1em;
    margin-bottom: -3em;
  }
  footer .volunts a {
    font-size: 18px;
  }
  footer .volunts #involvement {
    font-size: 2em;
    margin-right: -2em;
    width: 5cm;
  }
  footer .volunts #donation {
    font-size: 2em;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
    background-size: cover;
    margin: none;
  }
  header {
    padding: 0.5em 1em 0em 2em;
    gap: 2em;
    width: 12cm;
    margin: 0em 0em 0em 0.5em;
  }
  header img {
    width: 5cm;
    float: left;
    height: 5cm;
    margin-left: -15em;
  }
  header nav #nav-menu {
    opacity: 0;
    display: none;
    flex-direction: column;
    gap: 3em;
    background: rgba(2, 6, 187, 0.431);
    position: fixed;
    z-index: 1000;
    top: 2em;
    right: -250px;
    height: 100vh;
    width: 5cm;
    text-align: center;
    align-items: center;
    border-radius: 20px 0px 0px 10px;
    pointer-events: none;
  }
  header nav #nav-menu.open {
    right: 0;
    opacity: 1;
    pointer-events: auto;
    display: flex;
    animation: slide-in 2s ease forwards;
    /* Apply custom animation */
  }
  header nav #nav-menu.close {
    animation: slide-out 2s ease forwards;
  }
  @keyframes slide-in {
    from {
      right: -250px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  @keyframes slide-out {
    from {
      right: 0;
      opacity: 1;
    }
    to {
      right: -250px;
      opacity: 0;
    }
  }
  header nav #nav-menu li {
    font-size: 16px;
    width: 2cm;
    padding: 0.2em;
    display: block;
  }
  header nav #nav-menu #close-nav-btn {
    display: block;
    background: transparent;
    border-radius: 300px;
    border-color: transparent;
    color: white;
  }
  header nav #nav-menu #close-nav-btn:hover {
    border-color: white;
    color: blue;
    background: rgba(255, 255, 255, 0.671);
  }
  header nav .nav-btn {
    display: block;
    float: right;
    margin: -13em -7em 0em 0em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  header nav #donate-btn {
    font-size: 20px;
    width: 4cm;
    float: right;
    margin: -4em -7em 0em 5em;
  }
  main {
    margin-top: 0em;
    padding: 10px;
  }
  main .intro video {
    height: 70vh;
  }
  main .intro .conts h1 {
    font-size: 25px;
  }
  main .intro .conts p {
    font-size: 15px;
    margin-top: -.5em;
  }
  main .intro .conts a {
    margin-left: 1cm;
    text-align: center;
  }
  main .intro .conts #learn-more-btn {
    font-size: 20px;
  }
  main .intro .conts #donate-bttn {
    font-size: 20px;
    float: right;
    margin: 1em 2em 1em 0em;
  }
  main .contents {
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 6em;
  }
  main .contents .slide-images {
    height: 170vh;
  }
  main .contents .slides .slide {
    height: 170vh;
  }
  main .contents .slides .slide img {
    height: 100%;
  }
  main .contents .individual-contents {
    align-items: center;
    display: flex;
    gap: 2.5em;
    flex-direction: column;
    margin-top: -6em 0em 0em 0em;
  }
  main .contents .individual-contents .ind-contents {
    background: none;
    width: 7cm;
    margin: -3em 0em -4em 0em;
    padding: 0.1em 2em 0.1em 0.1em;
    box-shadow: none;
  }
  main .contents .individual-contents .ind-contents a {
    text-decoration: none;
  }
  main .contents .individual-contents .ind-contents a h2 {
    color: #7fc4fc;
    box-shadow: 2px 2px 4px rgba(235, 90, 248, 0.5);
  }
  main .contents .individual-contents .ind-contents a p {
    display: none;
  }
  footer {
    margin-top: 0em;
    padding: 1em 3em 1em 3em;
    border-radius: 40px 40px 15px 15px;
    background-size: cover;
  }
  footer .footer-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .links {
    gap: 0.5em;
  }
  footer .links a {
    font-size: 16px;
  }
  footer .links i {
    font-size: 3em;
  }
  footer .contact-infos {
    margin-left: -4.5em;
    gap: 0.5em;
  }
  footer .contact-infos a {
    font-size: 16px;
  }
  footer .volunts {
    gap: 0.5em;
    margin: -1em 2em 0em 1em;
  }
  footer .volunts a {
    font-size: 16px;
  }
  footer .volunts #involvement {
    font-size: 2em;
    margin-right: -1em;
    text-align: center;
  }
  footer .volunts #donation {
    font-size: 2em;
    text-align: center;
  }
  footer .copyright {
    font-size: 14px;
  }
}
